{:tasks
 {osx-settings {:task (do (println "Changeing keyboard settings")
                          (shell "defaults write -g InitialKeyRepeat -int 15")
                          (shell "defaults write -g KeyRepeat -int 2")
                          (shell "defaults write -g TISRomanSwitchState -int 1")
                          (println "Changeing keyboard shortcuts")
                          (println "Changeing dock settings")
                          (shell "defaults write com.apple.dock \"orientation\" -string \"left\"")
                          (shell "defaults write com.apple.dock \"mru-spaces\" -bool TRUE")
                          (shell "defaults write com.apple.dock \"mineffect\" -string \"scale\"")
                          (shell "killall Dock"))}}}
